 <%= link_to "All restaurants", restaurants_path, {class: "btn btn-primary"} %>
 <a href="/restaurants/new" class="btn btn-primary">New</a>

 <% @restaurants.each do |restaurant| %>
  <h2 class="nam"><%= link_to restaurant.name, restaurant_path(restaurant), {class: "btn btn-primary", id: "titles"} %></h2>
   <p class="nam"><%= restaurant.address %></p>
     <p class="nam"><%= restaurant.phone_number %></p>
       <p class="nam"><%= restaurant.category %></p>
       <%= image_tag "logo.jpg", {class: "img-circle", id: "logo"}%>
   <% end %>