<%= link_to "All restaurants", restaurants_path, {class: "btn btn-primary"} %>
<a href="/restaurants/1/reviews/new" class="btn btn-primary">Rating</a>
<p class="nam"><%= @restaurant.name %></p>
<p class="nam"><%= @restaurant.address %></p>
<p class="nam"><%= @restaurant.phone_number %></p>
<p class="nam"><%= @restaurant.category %></p>
<%= image_tag "logo.jpg", {class: "img-circle", id: "logo"}%>
<%= link_to "Delete", restaurant_path(@restaurant),
      method: :delete,
      data: { confirm: "Are you sure?" } %>